<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title>{% if page.title %} {{ page.title - }} {% endif %}Felquis Front-end Developer</title>
  <meta name="description" content="Um Desenvolvedor Front-end afim de fazer coisas incríveis.">

  <link rel="author" href="https://plus.google.com/102754289882659476963/"/>

  <meta property='og:locale' content='pt_BR'/>
  <meta property='fb:admins' content='100001345144139'/>
  <meta property='og:title' content='{% if page.title %} {{ page.title - }} {% endif %}Felquis Front-end Developer'/>
  <meta property='og:url' content='http://felquis.com/'/>
  <meta property='og:site_name' content='Felquis Frontend Developer'/>
  <meta property='og:type' content='website'/>
  <meta property='og:image' content='img/default-share-image.jpg'/>

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@felquis">
  <meta name="twitter:creator" content="@felquis">
  <meta name='twitter:image' content='img/default-share-image.jpg'>
  <meta name="twitter:description" content="Um Desenvolvedor Front-end afim de fazer coisas incríveis.">

  <meta name="viewport" content="width=device-width">
  <link href="http://fonts.googleapis.com/css?family=Share+Tech" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css" />

  <script src="/js/modernizr-custom.js"></script>
</head>
<body>
    <div id="fb-root"></div>
    <div class="header-entrada row container-custom">
      <a href="/index.html" title="Ir para o inicio">
        <img src="/img/default-share-image.jpg" alt="" class="avatar span2" />
      </a>

      <div class="span7">
        <h1>Felquis Gimenes</h1>

        <p>Sou desenvolver Front-end amo padrões, HTML, CSS, JavaScript e sites super rápidos. Moro em Curitiba, Brasil.</p>

        <nav class="nav-wrap">
          <ul class="nav-itens-wrap">

            {% if page.url != "/index.html" %}
              <li class="nav-item-wrap">
                <a href="/" title="Inicio" class="nav-item">Inicio</a>
              </li>
            {% endif %}

            <li class="nav-item-wrap">
              <a href="http://tutsmais.com.br/" title="Blog" class="nav-item" target="_blank">Blog</a>
            </li>

            <li class="nav-item-wrap">
              <a href="http://github.com/felquis" title="Github" class="nav-item" target="_blank">Github</a>
            </li>

            <li class="nav-item-wrap">
              <a href="http://www.linkedin.com/in/felquis" title="Linkedin" class="nav-item" target="_blank">Linkedin</a>
            </li>

            <li class="nav-item-wrap">
              <a href="http://twitter.com/felquis" title="Twitter" class="nav-item" target="_blank">Twitter</a>
            </li>

            <li class="nav-item-wrap">
              oi@felquis.com
            </li>
          </ul>
        </nav>
      </div>
    </div>

    {{ content }}


    <script src="/js/jquery-1.8.3.min.js"></script>
    <script src="/js/main.js"></script>

    {% include analytics.html %}

    <script>
      // Twitter share button
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

      // +1 button
      window.___gcfg = {lang: 'pt-BR'};

      (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();

      // Facebook like button
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=416324911779071";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
</body>
</html>